ExcelToXsd/DT_SD130.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://gome.com/POS01/SD/Inbound" xmlns="http://gome.com/POS01/SD/Inbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:complexType name="DT_SD130"><xsd:annotation><xsd:documentation>APP反馈店长券使用审批结果</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="GSXX01 "><xsd:annotation><xsd:documentation>公司代码 </xsd:documentation></xsd:annotation><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="20" /></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="YHQSQ01 "><xsd:annotation><xsd:documentation>申请单号  </xsd:documentation></xsd:annotation><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="16" /></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="UPDATE_FLAG"><xsd:annotation><xsd:documentation>审批结果</xsd:documentation></xsd:annotation><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="1" /></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>